/* 10x10 grid, each 40px height/width */
header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.board {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.board div {
  height: 40px;
  width: 40px;
}

.checked {
  background-color: red;
}

.bomb {
  background-color: orange;
}
