/* 10x10 grid, each 40px height/width */

:root {
  --main-bg-color: #f9f5d7;
  --board-bg-color: #fbf1c7;
  --font-color: #282828;
  --data-color-1: #458588;  /* blue */
  --data-color-2: #98971a;  /* green */
  --data-color-3: #d79921;  /* yellow */ 
  --data-color-4: #cc241d;  /* red */
  --border-color-cell: #d5c4a1;
  --border-color-checked: #ebdbb2;   
}

html, body {
  font-family: Monaco, Helvetica, Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--font-color);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flags {
  margin-bottom: 15px;  
  font-size: 1.2rem;  
}

.board {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--board-bg-color);
}

.cell {
  height: 34px;
  width: 34px;
  border-color: var(--border-color-cell);
  border-style: outset;
  background-color: var(--board-bg-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.cell[data="1"] {
  color: var(--data-color-1);
} 

.cell[data="2"] {
  color: var(--data-color-2);
} 

.cell[data="3"] {
  color: var(--data-color-3);
} 

.cell[data="4"] {
  color: var(--data-color-4);
} 

.result {

}

.checked {
  display: grid;
  place-items: center;
  border: solid 3px var(--border-color-checked);
}

.bomb {
  display: grid;
  place-items: center;
  /* background-color: orange; */
}

.losingCell {
  background-color: var(--data-color-4);
}

.flag {
  display: grid;
  place-items: center;
}


